/* Dashboard CSS Styling */

body {
    margin: 0;
    /* font-family: 'Arial', sans-serif; */
    background-color: #eaeaf1;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Top Navbar Styling */
  .navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .nav-link {
    color: #fff !important;
    font-size: 16px;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .navbar .nav-link:hover {
    color: #2c3e50 !important;
  }
  
  /* Sidebar Styling */
  .sidebar {
    background-color:blue;
    color: #fff;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    top: 56px;
    left: 0;
    width: 250px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .sidebar .nav {
    flex-direction: column;
  }
  
  .sidebar .nav-link {
    color: #fff;
    padding: 20px 30px 30px;
    font-size: 16px;
    transition: background-color 0.3s;
    display: list-item;
    line-height: 30px;
  }
  
  .sidebar .nav-link:hover {
    background-color: #16a085;
  }
  
  .sidebar .nav-link .icon {
    margin-right: 10px;
  }
  
  .sidebar .active {
    background-color: #16a085;
  }
  
  /* Main Content Styling */
  .content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }
  
  .content-area {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content-area h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content-area p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .scrollable-content {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  .scrollable-content::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #16a085;
    border-radius: 10px;
  }
  
  /* Footer Styling */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .content {
      margin-left: 200px;
    }
  
    .navbar .nav-link {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 150px;
    }
  
    .content {
      margin-left: 150px;
    }
  
    .navbar .nav-link {
      font-size: 12px;
    }
  }
  